.navbar {
    background-color: rgb(147, 165, 173);
    z-index: 1000;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 5vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: .8;
}